In [161]:
"""

import requests 

def list_number_of_stores(store_endpoint, header):
        
        store_endpoint = 'https://aqj7u5id95.execute-api.eu-west-1.amazonaws.com/prod/number_stores'
        header = {
            'x-api-key': 'yFBQbwXe9J3sd6zWVAMrK6lcxxr0q1lr2PT6DDMX'
        } 
        response = requests.get(store_endpoint, headers=header)
        print(response.json())
        return response.json()

list_number_of_stores(store_endpoint, header)
"""

"\n\nimport requests \n\ndef list_number_of_stores(store_endpoint, header):\n        \n        store_endpoint = 'https://aqj7u5id95.execute-api.eu-west-1.amazonaws.com/prod/number_stores'\n        header = {\n            'x-api-key': 'yFBQbwXe9J3sd6zWVAMrK6lcxxr0q1lr2PT6DDMX'\n        } \n        response = requests.get(store_endpoint, headers=header)\n        print(response.json())\n        return response.json()\n\nlist_number_of_stores(store_endpoint, header)\n"

In [162]:
import requests 
import pandas as pd 
import numpy as np
import logging 

logging.basicConfig(filename='api_client.log', level=logging.INFO,
                    format='%(asctime)s:%(levelname)s:%(message)s')



class api: 
        
    def __init__(self): 
        self.no_stores_endpoint = 'https://aqj7u5id95.execute-api.eu-west-1.amazonaws.com/prod/number_stores'
        self.header = {
            'x-api-key': 'yFBQbwXe9J3sd6zWVAMrK6lcxxr0q1lr2PT6DDMX'
        }  
    
    def list_number_of_stores(self):
        try: 
            with requests.get(self.no_stores_endpoint, headers=self.header) as response: 
                response.raise_for_status()  # Raise an HTTPError for bad responses (4xx and 5xx)
                print(response.json())
                return response.json()
        
        except requests.exceptions.RequestException as e:
            print(f'An error occurred: {e}')
            return None

    def retrieve_stores_data(self):   
        all_data = []
        for i in range (0, 451): #451 
            #print('started')
            store_suffix = str(i) 
            store_info_endpoint = f'https://aqj7u5id95.execute-api.eu-west-1.amazonaws.com/prod/store_details/{store_suffix}'  
            #print(store_suffix)
            #print(store_info_endpoint)
            try: 
                with requests.get(store_info_endpoint, headers=self.header) as response:
                    response.raise_for_status()  # Check for HTTP errors
                    data = response.json()
                    all_data.append(response.json())
            except requests.exceptions.RequestException as e:
                print(f'An error occurred: {e}')
                return None
        df = pd.DataFrame(all_data) 
        display(df)
        return df 

instance = api()
instance.list_number_of_stores()
instance.retrieve_stores_data()

{'statusCode': 200, 'number_stores': 451}

,index,address,longitude,lat,locality,store_code,staff_numbers,opening_date,store_type,latitude,country_code,continent
0,0,N/A,N/A,N/A,N/A,WEB-1388012W,325,2010-06-12,Web Portal,None,GB,Europe
1,1,"Flat 72W\nSally isle\nEast Deantown\nE7B 8EB, ...",51.62907,None,High Wycombe,HI-9B97EE4E,34,1996-10-25,Local,-0.74934,GB,Europe
2,2,"Heckerstraße 4/5\n50491 Säckingen, Landshut",48.52961,None,Landshut,LA-0772C7B9,92,2013-04-12,Super Store,12.16179,DE,Europe
3,3,"5 Harrison tunnel\nSouth Lydia\nWC9 2BE, Westbury",51.26,None,Westbury,WE-1DE82CEE,69,2014-01-02,Super Store,-2.1875,GB,Europe
4,4,Studio 6\nStephen landing\nSouth Simon\nB77 2W...,53.0233,None,Belper,BE-18074576,35,2019-09-09,Local,-1.48119,GB,Europe
...,...,...,...,...,...,...,...,...,...,...,...,...
446,446,"Täschestraße 25\n39039 Nördlingen, Kirchlengern",52.2,None,Kirchlengern,KI-78096E8C,61,2005-05-12,Super Store,8.63333,DE,Europe
447,447,K0ODETRLS3,K8CXLZDP07,UXMWDMX1LC,3VHFDNP8ET,9D4LK7X4LZ,D23PCWSM6S,36IIMAQD58,NN04B3F6UQ,JZP8MIJTPZ,B3EH2ZGQAV,1WZB1TE1HL
448,448,"Studio 8\nMoss mall\nWest Linda\nM0E 6XR, High...",51.62907,None,High Wycombe,HI-EEA7AE62,33,1998-05-14,Local,-0.74934,GB,Europe
449,449,"Baumplatz 6\n80114 Kötzting, Bretten",49.03685,None,Bretten,BR-662EC74C,35,2020-10-17,Local,8.70745,DE,Europe
450,450,"Gotthilf-Rose-Straße 7/3\n45457 Feuchtwangen, ...",50.64336,None,Bad Honnef,BA-B4AED588,36,2001-05-12,Local,7.2278,DE,eeEurope

,index,address,longitude,lat,locality,store_code,staff_numbers,opening_date,store_type,latitude,country_code,continent
0,0,N/A,N/A,N/A,N/A,WEB-1388012W,325,2010-06-12,Web Portal,None,GB,Europe
1,1,"Flat 72W\nSally isle\nEast Deantown\nE7B 8EB, ...",51.62907,None,High Wycombe,HI-9B97EE4E,34,1996-10-25,Local,-0.74934,GB,Europe
2,2,"Heckerstraße 4/5\n50491 Säckingen, Landshut",48.52961,None,Landshut,LA-0772C7B9,92,2013-04-12,Super Store,12.16179,DE,Europe
3,3,"5 Harrison tunnel\nSouth Lydia\nWC9 2BE, Westbury",51.26,None,Westbury,WE-1DE82CEE,69,2014-01-02,Super Store,-2.1875,GB,Europe
4,4,Studio 6\nStephen landing\nSouth Simon\nB77 2W...,53.0233,None,Belper,BE-18074576,35,2019-09-09,Local,-1.48119,GB,Europe
...,...,...,...,...,...,...,...,...,...,...,...,...
446,446,"Täschestraße 25\n39039 Nördlingen, Kirchlengern",52.2,None,Kirchlengern,KI-78096E8C,61,2005-05-12,Super Store,8.63333,DE,Europe
447,447,K0ODETRLS3,K8CXLZDP07,UXMWDMX1LC,3VHFDNP8ET,9D4LK7X4LZ,D23PCWSM6S,36IIMAQD58,NN04B3F6UQ,JZP8MIJTPZ,B3EH2ZGQAV,1WZB1TE1HL
448,448,"Studio 8\nMoss mall\nWest Linda\nM0E 6XR, High...",51.62907,None,High Wycombe,HI-EEA7AE62,33,1998-05-14,Local,-0.74934,GB,Europe
449,449,"Baumplatz 6\n80114 Kötzting, Bretten",49.03685,None,Bretten,BR-662EC74C,35,2020-10-17,Local,8.70745,DE,Europe
450,450,"Gotthilf-Rose-Straße 7/3\n45457 Feuchtwangen, ...",50.64336,None,Bad Honnef,BA-B4AED588,36,2001-05-12,Local,7.2278,DE,eeEurope

In [163]:
df = instance.retrieve_stores_data()

,index,address,longitude,lat,locality,store_code,staff_numbers,opening_date,store_type,latitude,country_code,continent
0,0,N/A,N/A,N/A,N/A,WEB-1388012W,325,2010-06-12,Web Portal,None,GB,Europe
1,1,"Flat 72W\nSally isle\nEast Deantown\nE7B 8EB, ...",51.62907,None,High Wycombe,HI-9B97EE4E,34,1996-10-25,Local,-0.74934,GB,Europe
2,2,"Heckerstraße 4/5\n50491 Säckingen, Landshut",48.52961,None,Landshut,LA-0772C7B9,92,2013-04-12,Super Store,12.16179,DE,Europe
3,3,"5 Harrison tunnel\nSouth Lydia\nWC9 2BE, Westbury",51.26,None,Westbury,WE-1DE82CEE,69,2014-01-02,Super Store,-2.1875,GB,Europe
4,4,Studio 6\nStephen landing\nSouth Simon\nB77 2W...,53.0233,None,Belper,BE-18074576,35,2019-09-09,Local,-1.48119,GB,Europe
...,...,...,...,...,...,...,...,...,...,...,...,...
446,446,"Täschestraße 25\n39039 Nördlingen, Kirchlengern",52.2,None,Kirchlengern,KI-78096E8C,61,2005-05-12,Super Store,8.63333,DE,Europe
447,447,K0ODETRLS3,K8CXLZDP07,UXMWDMX1LC,3VHFDNP8ET,9D4LK7X4LZ,D23PCWSM6S,36IIMAQD58,NN04B3F6UQ,JZP8MIJTPZ,B3EH2ZGQAV,1WZB1TE1HL
448,448,"Studio 8\nMoss mall\nWest Linda\nM0E 6XR, High...",51.62907,None,High Wycombe,HI-EEA7AE62,33,1998-05-14,Local,-0.74934,GB,Europe
449,449,"Baumplatz 6\n80114 Kötzting, Bretten",49.03685,None,Bretten,BR-662EC74C,35,2020-10-17,Local,8.70745,DE,Europe
450,450,"Gotthilf-Rose-Straße 7/3\n45457 Feuchtwangen, ...",50.64336,None,Bad Honnef,BA-B4AED588,36,2001-05-12,Local,7.2278,DE,eeEurope

In [164]:
df.info() 
display(df)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 451 entries, 0 to 450
Data columns (total 12 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   index          451 non-null    int64
 1   address        451 non-null    object
 2   longitude      451 non-null    object
 3   lat            11 non-null     object
 4   locality       451 non-null    object
 5   store_code     451 non-null    object
 6   staff_numbers  451 non-null    object
 7   opening_date   451 non-null    object
 8   store_type     451 non-null    object
 9   latitude       450 non-null    object
 10  country_code   451 non-null    object
 11  continent      451 non-null    object
dtypes: int64(1), object(11)
memory usage: 42.4+ KB

,index,address,longitude,lat,locality,store_code,staff_numbers,opening_date,store_type,latitude,country_code,continent
0,0,N/A,N/A,N/A,N/A,WEB-1388012W,325,2010-06-12,Web Portal,None,GB,Europe
1,1,"Flat 72W\nSally isle\nEast Deantown\nE7B 8EB, ...",51.62907,None,High Wycombe,HI-9B97EE4E,34,1996-10-25,Local,-0.74934,GB,Europe
2,2,"Heckerstraße 4/5\n50491 Säckingen, Landshut",48.52961,None,Landshut,LA-0772C7B9,92,2013-04-12,Super Store,12.16179,DE,Europe
3,3,"5 Harrison tunnel\nSouth Lydia\nWC9 2BE, Westbury",51.26,None,Westbury,WE-1DE82CEE,69,2014-01-02,Super Store,-2.1875,GB,Europe
4,4,Studio 6\nStephen landing\nSouth Simon\nB77 2W...,53.0233,None,Belper,BE-18074576,35,2019-09-09,Local,-1.48119,GB,Europe
...,...,...,...,...,...,...,...,...,...,...,...,...
446,446,"Täschestraße 25\n39039 Nördlingen, Kirchlengern",52.2,None,Kirchlengern,KI-78096E8C,61,2005-05-12,Super Store,8.63333,DE,Europe
447,447,K0ODETRLS3,K8CXLZDP07,UXMWDMX1LC,3VHFDNP8ET,9D4LK7X4LZ,D23PCWSM6S,36IIMAQD58,NN04B3F6UQ,JZP8MIJTPZ,B3EH2ZGQAV,1WZB1TE1HL
448,448,"Studio 8\nMoss mall\nWest Linda\nM0E 6XR, High...",51.62907,None,High Wycombe,HI-EEA7AE62,33,1998-05-14,Local,-0.74934,GB,Europe
449,449,"Baumplatz 6\n80114 Kötzting, Bretten",49.03685,None,Bretten,BR-662EC74C,35,2020-10-17,Local,8.70745,DE,Europe
450,450,"Gotthilf-Rose-Straße 7/3\n45457 Feuchtwangen, ...",50.64336,None,Bad Honnef,BA-B4AED588,36,2001-05-12,Local,7.2278,DE,eeEurope

In [165]:
df = df.dropna(axis=1)

In [166]:
df = df.drop(columns=['longitude'])

In [167]:
df.info()
#unique_values = {col: df[col].unique() for col in df.columns} #dict comprehension 
#for col, values in unique_values.items():
#    print(f"Unique values in column '{col}': {values}")

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 451 entries, 0 to 450
Data columns (total 9 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   index          451 non-null    int64
 1   address        451 non-null    object
 2   locality       451 non-null    object
 3   store_code     451 non-null    object
 4   staff_numbers  451 non-null    object
 5   opening_date   451 non-null    object
 6   store_type     451 non-null    object
 7   country_code   451 non-null    object
 8   continent      451 non-null    object
dtypes: int64(1), object(8)
memory usage: 31.8+ KB

In [168]:
df['locality'].unique()

array(['N/A', 'High Wycombe', 'Landshut', 'Westbury', 'Belper',
       'Gainsborough', 'Rutherglen', 'Stuttgart', 'Kaukauna', 'Hartley',
       'Siegburg', 'Devizes', 'Crystal Lake', 'Halstenbek', 'Lancing',
       'Newbury', 'Lymington', 'Chapletown', 'Barnet', 'East Dereham',
       'Poulton-le-Fylde', 'Bushey', 'Ehingen', 'Aberdeen', 'Surbiton',
       'Inverness', 'Weimar', 'Penzance', 'Albstadt', 'Hechingen',
       'Mexborough', 'Arbroath', 'Cowes', 'Clacton-on-Sea', 'Boston',
       'Charlottenburg-Nord', 'Bretten', 'Sun City Center', 'Karben',
       'Martinsburg', 'Oschatz', 'Kingston upon Hull', 'Leyland',
       'Venice', 'Schleswig', 'Eppingen', '9IBH8Y4Z0S', 'Losheim',
       'Burscheid', 'Southsea', 'Porterville', 'Walsrode', 'Exeter',
       'Thetford', 'Morningside Heights', 'Searcy', 'Radevormwald',
       'Stade', 'Mira Mesa', 'Strood', 'Verl', 'Wesseling', 'Pfullingen',
       'Bensheim', 'Walton-on-the-Naze', 'Friedberg', 'Winsford',
       'Newburgh', 'Selby', 'Oberhausen', 'Zeitz', 'Viewpark',
       'Rhosllanerchrugog', 'Marburg an der Lahn', 'Waverly', 'Memmingen',
       'Trossingen', 'Dahlem', '1T6B406CI8', 'Lower Earley',
       'Barmbek-Nord', 'Bad Segeberg', 'Great Wyrley', 'Nidderau',
       'Jersey City', 'Fayetteville', 'Gauting', 'NULL', 'Blackpool',
       'Redding', 'Hofheim am Taunus', '6LVWPU1G64', 'Wittenau',
       'Aschaffenburg', 'Fairview Heights', 'Sicklerville',
       'Brierley Hill', 'Kirchlengern', 'Port Richmond', 'Belle Glade',
       'Reutlingen', 'Brunswick', 'Gronau', 'Gifhorn', 'Carlsbad', 'Lutz',
       'Sterling', 'RX9TCP2RGB', 'Korschenbroich', 'Hutchinson',
       'Scarsdale', 'Iron River', 'Jackson', 'CQMHKI78BX', 'Bridgeport',
       'Rudolstadt', 'Hermsdorf', 'Neuburg an der Donau', 'Bad Honnef',
       'Scottsdale', 'RY6K0AUE7F', 'Troutdale', 'Columbia Heights',
       'Westchester', '3VHFDNP8ET'], dtype=object)

In [169]:
import numpy as np

pattern = r'^[a-zA-Z\s-]+$'
df = df[df['locality'].str.match(pattern)]


df['locality'] = df['locality'].replace('NULL', np.nan)
df = df.dropna(subset=['locality'])

In [170]:
df['locality'].unique()

array(['High Wycombe', 'Landshut', 'Westbury', 'Belper', 'Gainsborough',
       'Rutherglen', 'Stuttgart', 'Kaukauna', 'Hartley', 'Siegburg',
       'Devizes', 'Crystal Lake', 'Halstenbek', 'Lancing', 'Newbury',
       'Lymington', 'Chapletown', 'Barnet', 'East Dereham',
       'Poulton-le-Fylde', 'Bushey', 'Ehingen', 'Aberdeen', 'Surbiton',
       'Inverness', 'Weimar', 'Penzance', 'Albstadt', 'Hechingen',
       'Mexborough', 'Arbroath', 'Cowes', 'Clacton-on-Sea', 'Boston',
       'Charlottenburg-Nord', 'Bretten', 'Sun City Center', 'Karben',
       'Martinsburg', 'Oschatz', 'Kingston upon Hull', 'Leyland',
       'Venice', 'Schleswig', 'Eppingen', 'Losheim', 'Burscheid',
       'Southsea', 'Porterville', 'Walsrode', 'Exeter', 'Thetford',
       'Morningside Heights', 'Searcy', 'Radevormwald', 'Stade',
       'Mira Mesa', 'Strood', 'Verl', 'Wesseling', 'Pfullingen',
       'Bensheim', 'Walton-on-the-Naze', 'Friedberg', 'Winsford',
       'Newburgh', 'Selby', 'Oberhausen', 'Zeitz', 'Viewpark',
       'Rhosllanerchrugog', 'Marburg an der Lahn', 'Waverly', 'Memmingen',
       'Trossingen', 'Dahlem', 'Lower Earley', 'Barmbek-Nord',
       'Bad Segeberg', 'Great Wyrley', 'Nidderau', 'Jersey City',
       'Fayetteville', 'Gauting', 'Blackpool', 'Redding',
       'Hofheim am Taunus', 'Wittenau', 'Aschaffenburg',
       'Fairview Heights', 'Sicklerville', 'Brierley Hill',
       'Kirchlengern', 'Port Richmond', 'Belle Glade', 'Reutlingen',
       'Brunswick', 'Gronau', 'Gifhorn', 'Carlsbad', 'Lutz', 'Sterling',
       'Korschenbroich', 'Hutchinson', 'Scarsdale', 'Iron River',
       'Jackson', 'Bridgeport', 'Rudolstadt', 'Hermsdorf',
       'Neuburg an der Donau', 'Bad Honnef', 'Scottsdale', 'Troutdale',
       'Columbia Heights', 'Westchester'], dtype=object)

In [171]:
display(df['store_type'].unique()) 
display(df['country_code'].unique()) 
display(df['continent'].unique())

array(['Local', 'Super Store', 'Mall Kiosk', 'Outlet'], dtype=object)

array(['GB', 'DE', 'US'], dtype=object)

array(['Europe', 'America', 'eeEurope', 'eeAmerica'], dtype=object)

In [172]:
continent_replacements = {
    'eeEurope': 'Europe',
    'eeAmerica': 'America'
}

df['continent'] = df['continent'].replace(continent_replacements)

print(df['continent'].unique())

['Europe' 'America']

In [173]:
NaT_dates = df[df['opening_date'] == 'NaT']
print('this is NaT dates:', NaT_dates)

this is NaT dates: Empty DataFrame
Columns: [index, address, locality, store_code, staff_numbers, opening_date, store_type, country_code, continent]
Index: []

In [179]:
df['opening_date'] = pd.to_datetime(df['opening_date'], format='%Y-%m-%d', errors='coerce')
is_datetime = pd.api.types.is_datetime64_any_dtype(df['opening_date'])
print(f"Is 'dates' column datetime64 dtype? {is_datetime}")
display(df)

Is 'dates' column datetime64 dtype? True

,index,address,locality,store_code,staff_numbers,opening_date,store_type,country_code,continent
1,1,"Flat 72W\nSally isle\nEast Deantown\nE7B 8EB, ...",High Wycombe,HI-9B97EE4E,34,1996-10-25,Local,GB,Europe
2,2,"Heckerstraße 4/5\n50491 Säckingen, Landshut",Landshut,LA-0772C7B9,92,2013-04-12,Super Store,DE,Europe
3,3,"5 Harrison tunnel\nSouth Lydia\nWC9 2BE, Westbury",Westbury,WE-1DE82CEE,69,2014-01-02,Super Store,GB,Europe
4,4,Studio 6\nStephen landing\nSouth Simon\nB77 2W...,Belper,BE-18074576,35,2019-09-09,Local,GB,Europe
5,5,Flat 92u\nChristian harbors\nPort Charlotte\nN...,Gainsborough,GA-CAD01AC2,36,1995-05-15,Local,GB,Europe
...,...,...,...,...,...,...,...,...,...
445,445,"Flat 7\nStephanie lake\nMorrisside\nHP8 8LH, C...",Cowes,CO-473A9FBB,94,2008-06-08,Super Store,GB,Europe
446,446,"Täschestraße 25\n39039 Nördlingen, Kirchlengern",Kirchlengern,KI-78096E8C,61,2005-05-12,Super Store,DE,Europe
448,448,"Studio 8\nMoss mall\nWest Linda\nM0E 6XR, High...",High Wycombe,HI-EEA7AE62,33,1998-05-14,Local,GB,Europe
449,449,"Baumplatz 6\n80114 Kötzting, Bretten",Bretten,BR-662EC74C,35,2020-10-17,Local,DE,Europe
450,450,"Gotthilf-Rose-Straße 7/3\n45457 Feuchtwangen, ...",Bad Honnef,BA-B4AED588,36,2001-05-12,Local,DE,Europe

In [174]:
"""
europe_row = df[df['continent'] == 'Europe']
print(df['continent'].unique())
#display(europe_row)  
"""

"\neurope_row = df[df['continent'] == 'Europe']\nprint(df['continent'].unique())\n#display(europe_row)  \n"

In [175]:
"""
def called_clean_store_data():
    #df = self.retrieve_stores_data() 
    df = df.dropna(axis=1)

"""

'\ndef called_clean_store_data():\n    #df = self.retrieve_stores_data() \n    df = df.dropna(axis=1)\n\n'

In [176]:
"""
 def retrieve_stores_data(self):
        store_number_response = self.list_number_of_stores(no_stores_endpoint, header)
        store_number = str(store_number_response.get('number_stores')) 
        print(type(store_number))
        print(store_number)
        store_info_endpoint = 'https://aqj7u5id95.execute-api.eu-west-1.amazonaws.com/prod/store_details/' + '1'
        print(store_info_endpoint)
        try: 
            with requests.get(store_info_endpoint, headers=header) as response:
                data = response.json()
                print(data)
                store_data = pd.DataFrame(data, index=[0]) 
                return store_data
        except requests.exceptions.RequestException as e:
            print(f'An error occurred: {e}')
            return None

no_stores_endpoint = 'https://aqj7u5id95.execute-api.eu-west-1.amazonaws.com/prod/number_stores'
header = {'x-api-key': 'yFBQbwXe9J3sd6zWVAMrK6lcxxr0q1lr2PT6DDMX'} 

instance = api()
instance.retrieve_stores_data() 

"""

"\n def retrieve_stores_data(self):\n        store_number_response = self.list_number_of_stores(no_stores_endpoint, header)\n        store_number = str(store_number_response.get('number_stores')) \n        print(type(store_number))\n        print(store_number)\n        store_info_endpoint = 'https://aqj7u5id95.execute-api.eu-west-1.amazonaws.com/prod/store_details/' + '1'\n        print(store_info_endpoint)\n        try: \n            with requests.get(store_info_endpoint, headers=header) as response:\n                data = response.json()\n                print(data)\n                store_data = pd.DataFrame(data, index=[0]) \n                return store_data\n        except requests.exceptions.RequestException as e:\n            print(f'An error occurred: {e}')\n            return None\n\nno_stores_endpoint = 'https://aqj7u5id95.execute-api.eu-west-1.amazonaws.com/prod/number_stores'\nheader = {'x-api-key': 'yFBQbwXe9J3sd6zWVAMrK6lcxxr0q1lr2PT6DDMX'} \n\ninstance = api()\ninstance.retrieve_stores_data() \n\n"