In [2]:
import pandas as pd
from database_utils import DatabaseConnector
import re 
from sqlalchemy import create_engine, text, insert 
from sqlalchemy.inspection import inspect
from sqlalchemy.exc import SQLAlchemyError

In [ ]:
# Start here from 7/8/24 trying to get total_sales, no idea how to do it 
# but the actual data pipelines and cleaning seem to work

In [4]:
# Function to get total stores per country
def get_total_stores_per_country(connection):
    query = """
    SELECT country_code, COUNT(store_code) AS total_stores
    FROM dim_store_details
    GROUP BY country_code;
    """
    return connection.execute(text(query)).fetchall()

# Function to get locations with the most stores
def get_locations_with_most_stores(connection):
    query = """
    SELECT locality, COUNT(store_code) AS total_stores
    FROM dim_store_details
    GROUP BY locality
    ORDER BY total_stores DESC;
    """
    return connection.execute(text(query)).fetchall()

# Function to get months that produced the largest amount of sales
def get_months_with_largest_sales(connection):
    query = """
    SELECT ddt.month, SUM(ot.product_quantity * dp.product_price) AS total_sales
    FROM Orders_table ot
    JOIN dim_products dp ON ot.product_code = dp.product_code
    JOIN dim_date_times ddt ON ot.date_uuid = ddt.date_uuid
    GROUP BY ddt.month
    ORDER BY total_sales DESC;
    """
    return connection.execute(text(query)).fetchall()

# Function to get total sales per month
def get_total_sales_per_month(connection):
    query = """
    SELECT ddt.month, SUM(ot.product_quantity * dp.product_price) AS total_sales
    FROM Orders_table ot
    JOIN dim_products dp ON ot.product_code = dp.product_code
    JOIN dim_date_times ddt ON ot.date_uuid = ddt.date_uuid
    GROUP BY ddt.month
    ORDER BY ddt.month;
    """
    return connection.execute(text(query)).fetchall()

# Function to get sales coming from online vs offline
def get_sales_online_vs_offline(connection):
    query = """
    SELECT 
        CASE 
            WHEN dsd.locality = 'online' THEN 'web'
            ELSE 'Offline'
        END AS locality_group,
        SUM(ot.product_quantity) AS product_quantity_count,
        COUNT(ot.date_uuid) AS number_of_sales
    FROM orders_table ot
    JOIN dim_store_details dsd ON ot.store_code = dsd.store_code
    GROUP BY locality_group;
    """
    return connection.execute(text(query)).fetchall()

# Function to get percentage of sales from each store type
def get_sales_percentage_by_store_type(connection):
    query = """
    WITH total_sales_by_store_type AS (
        SELECT 
            dsd.store_type,
            SUM(ot.product_quantity * dp.product_price) AS total_sales
        FROM orders_table ot
        JOIN dim_store_details dsd ON ot.store_code = dsd.store_code
        JOIN dim_products dp ON ot.product_code = dp.product_code 
        GROUP BY dsd.store_type
    ),
    total_sales_overall AS (
        SELECT SUM(total_sales) AS overall_sales FROM total_sales_by_store_type
    )
    SELECT 
        tss.store_type,
        tss.total_sales,
        (tss.total_sales / tso.overall_sales) * 100 AS percentage_total
    FROM total_sales_by_store_type tss,
    total_sales_overall tso;
    """
    return connection.execute(text(query)).fetchall()

# Function to get highest total sales by month and year
def get_highest_sales_by_month_and_year(connection):
    query = """
    SELECT 
        ddt.year,
        ddt.month,
        SUM(ot.product_quantity * dp.product_price) AS total_sales
    FROM orders_table ot
    JOIN dim_date_times ddt ON ot.date_uuid = ddt.date_uuid
    JOIN dim_products dp ON ot.product_code = dp.product_code 
    GROUP BY ddt.year, ddt.month
    ORDER BY total_sales DESC;
    """
    return connection.execute(text(query)).fetchall()

# Function to get staff numbers per country
def get_staff_numbers_per_country(connection):
    query = """
    SELECT country_code, SUM(staff_numbers) AS total_staff
    FROM dim_store_details
    GROUP BY country_code;
    """
    return connection.execute(text(query)).fetchall()

# Function to get total sales per store type in Germany
def get_sales_per_store_type_in_germany(connection):
    query = """
    SELECT 
        dsd.country_code,
        dsd.store_type,
        SUM(ot.product_quantity * dp.product_price) AS total_sales
    FROM orders_table ot
    JOIN dim_store_details dsd ON ot.store_code = dsd.store_code
    JOIN dim_products dp ON ot.product_code = dp.product_code 
    WHERE dsd.country_code = 'DE'
    GROUP BY dsd.store_type, dsd.country_code;
    """
    return connection.execute(text(query)).fetchall()

# Function to calculate how quickly the company is making sales
def get_sales_speed(connection):
    query = """
    WITH time_differences AS (
        SELECT 
            EXTRACT(YEAR FROM ddt.complete_timestamp) AS year,
            LEAD(ddt.complete_timestamp) OVER (
                PARTITION BY EXTRACT(YEAR FROM ddt.complete_timestamp) 
                ORDER BY ddt.complete_timestamp
            ) - ddt.complete_timestamp AS time_diff
        FROM dim_date_times ddt
    )
    SELECT 
        year,
        TO_CHAR(
            INTERVAL '1 second' * AVG(EXTRACT(EPOCH FROM time_diff)),
            'HH24 "hours", MI "minutes", SS "seconds"'
        ) AS actual_time_taken
    FROM time_differences
    GROUP BY year
    ORDER BY AVG(EXTRACT(EPOCH FROM time_diff)) DESC;
    """
    return connection.execute(text(query)).fetchall()

# Assuming you already have your database connection setup
# and the `engine` object is created using your DatabaseConnector class

# Create instance of DatabaseConnector and engine
instance = DatabaseConnector()
engine = instance.init_my_db_engine()

# Use the connection context to run the queries
with engine.connect() as connection:
    # Run each query and get the results
    total_stores_per_country = get_total_stores_per_country(connection)
    locations_with_most_stores = get_locations_with_most_stores(connection)
    months_with_largest_sales = get_months_with_largest_sales(connection)
    total_sales_per_month = get_total_sales_per_month(connection)
    sales_online_vs_offline = get_sales_online_vs_offline(connection)
    sales_percentage_by_store_type = get_sales_percentage_by_store_type(connection)
    highest_sales_by_month_and_year = get_highest_sales_by_month_and_year(connection)
    staff_numbers_per_country = get_staff_numbers_per_country(connection)
    sales_per_store_type_in_germany = get_sales_per_store_type_in_germany(connection)
    sales_speed = get_sales_speed(connection)

    # Print the results of each query
    print("\nTotal stores per country:")
    for row in total_stores_per_country:
        print(row)

    print("\nLocations with the most stores:")
    for row in locations_with_most_stores:
        print(row)

    print("\nMonths that produced the largest amount of sales:")
    for row in months_with_largest_sales:
        print(row)

    print("\nTotal sales per month:")
    for row in total_sales_per_month:
        print(row)

    print("\nSales coming from online vs offline:")
    for row in sales_online_vs_offline:
        print(row)

    print("\nPercentage of sales from each store type:")
    for row in sales_percentage_by_store_type:
        print(row)

    print("\nHighest total sales by month and year:")
    for row in highest_sales_by_month_and_year:
        print(row)

    print("\nStaff numbers per country:")
    for row in staff_numbers_per_country:
        print(row)

    print("\nTotal sales per store type in Germany:")
    for row in sales_per_store_type_in_germany:
        print(row)

    print("\nHow quickly the company is making sales (average time taken):")
    for row in sales_speed:
        print(row)

init_my_db_engine is working
read_my_db_creds is working
Connection to the PostgreSQL database was successful!

Total stores per country:
('US', 34)
('GB', 266)
('DE', 141)

Locations with the most stores:
('Chapletown', 14)
('Belper', 13)
('Bushey', 12)
('Exeter', 11)
('High Wycombe', 10)
('Rutherglen', 10)
('Arbroath', 10)
('Landshut', 9)
('Aberdeen', 9)
('Surbiton', 9)
('Lancing', 9)
('Great Wyrley', 8)
('Charlottenburg-Nord', 8)
('Penzance', 8)
('East Dereham', 7)
('Walton-on-the-Naze', 7)
('Selby', 7)
('Gainsborough', 7)
('Clacton-on-Sea', 7)
('Viewpark', 7)
('Newbury', 7)
('Westbury', 7)
('Pfullingen', 6)
('Lymington', 6)
('Cowes', 6)
('Strood', 6)
('Poulton-le-Fylde', 6)
('Lower Earley', 6)
('Hartley', 6)
('Inverness', 6)
('Kingston upon Hull', 6)
('Winsford', 5)
('Thetford', 5)
('Albstadt', 5)
('Weimar', 5)
('Blackpool', 5)
('Radevormwald', 5)
('Leyland', 5)
('Ehingen', 5)
('Mexborough', 4)
('Stuttgart', 4)
('Hechingen', 4)
('Rhosllanerchrugog', 4)
('Friedberg', 4)
('Oberhausen', 4)
('Verl', 4)
('Hofheim am Taunus', 4)
('Bretten', 4)
('Marburg an der Lahn', 3)
('Devizes', 3)
('Schleswig', 3)
('Eppingen', 3)
('Barnet', 3)
('Memmingen', 3)
('Gronau', 3)
('Bad Segeberg', 3)
('Losheim', 3)
('Southsea', 3)
('Karben', 3)
('Halstenbek', 3)
('Burscheid', 3)
('Oschatz', 3)
('Siegburg', 3)
('Walsrode', 2)
('Wesseling', 2)
('Bad Honnef', 2)
('Reutlingen', 2)
('Zeitz', 2)
('Gauting', 2)
('Stade', 2)
('Kirchlengern', 2)
('Crystal Lake', 2)
('Dahlem', 2)
('Trossingen', 2)
('Mira Mesa', 2)
('Nidderau', 2)
('Korschenbroich', 2)
('Aschaffenburg', 2)
('Barmbek-Nord', 2)
('Sterling', 1)
('Wittenau', 1)
('Scottsdale', 1)
('Brierley Hill', 1)
('Lutz', 1)
('Hermsdorf', 1)
('Troutdale', 1)
('Martinsburg', 1)
('Newburgh', 1)
('Searcy', 1)
('Brunswick', 1)
('Gifhorn', 1)
('Sun City Center', 1)
('Columbia Heights', 1)
('online', 1)
('Scarsdale', 1)
('Belle Glade', 1)
('Hutchinson', 1)
('Kaukauna', 1)
('Sicklerville', 1)
('Westchester', 1)
('Morningside Heights', 1)
('Jackson', 1)
('Venice', 1)
('Fayetteville', 1)
('Waverly', 1)
('Rudolstadt', 1)
('Carlsbad', 1)
('Fairview Heights', 1)
('Redding', 1)
('Port Richmond', 1)
('Bensheim', 1)
('Neuburg an der Donau', 1)
('Porterville', 1)
('Bridgeport', 1)
('Jersey City', 1)
('Boston', 1)
('Iron River', 1)

Months that produced the largest amount of sales:
('8', 673295.6799999983)
('1', 668041.4499999984)
('10', 657335.8399999982)
('5', 650321.4299999985)
('7', 645741.699999999)
('3', 645462.9999999988)
('6', 635578.9899999988)
('12', 635329.0899999985)
('9', 633993.6199999988)
('11', 630757.0799999991)
('4', 630022.7699999993)
('2', 616452.9899999986)

Total sales per month:
('1', 668041.4499999983)
('10', 657335.8399999982)
('11', 630757.0799999989)
('12', 635329.0899999985)
('2', 616452.9899999988)
('3', 645462.9999999988)
('4', 630022.7699999997)
('5', 650321.4299999982)
('6', 635578.9899999988)
('7', 645741.6999999993)
('8', 673295.6799999984)
('9', 633993.6199999988)

Sales coming from online vs offline:
('Offline', 374047, 93166)
('web', 107739, 26957)

Percentage of sales from each store type:
('Super Store', 1224293.6499999538, 15.853933630352115)
('Web Portal', 1726547.0499999092, 22.35784065398022)
('Local', 3440896.5200001546, 44.55772931354669)
('Outlet', 631804.8099999899, 8.18152697686331)
('Mall Kiosk', 698791.6099999876, 9.048969425257674)

Highest total sales by month and year:
('1994', '3', 27936.76999999999)
('2019', '1', 27356.13999999998)
('2009', '8', 27091.669999999984)
('1997', '11', 26679.97999999999)
('2018', '12', 26310.969999999994)
('2019', '8', 26277.719999999987)
('2017', '9', 26236.66999999999)
('2010', '5', 25798.119999999988)
('1996', '8', 25648.289999999986)
('2000', '1', 25614.539999999986)
('2008', '6', 25290.659999999996)
('1993', '10', 25184.079999999994)
('2011', '8', 25109.469999999987)
('2000', '8', 25094.749999999993)
('2008', '2', 25059.929999999993)
('2003', '12', 25059.259999999987)
('1996', '1', 24950.40999999999)
('2012', '8', 24940.399999999994)
('2022', '4', 24917.109999999993)
('1998', '12', 24782.44999999999)
('2005', '1', 24707.559999999994)
('2020', '5', 24669.069999999985)
('2000', '3', 24558.27999999999)
('2006', '5', 24534.37999999999)
('2015', '10', 24498.019999999982)
('1993', '4', 24452.34999999999)
('2020', '10', 24410.98999999999)
('2021', '11', 24372.08999999999)
('1998', '1', 24365.96999999999)
('2010', '10', 24280.059999999987)
('2021', '8', 24241.349999999995)
('1999', '5', 24174.209999999985)
('2009', '11', 24156.83999999999)
('1993', '11', 24126.149999999994)
('1998', '3', 24124.24999999999)
('2019', '10', 24111.70999999999)
('2020', '7', 24092.889999999992)
('2017', '1', 24047.349999999984)
('2009', '4', 24015.649999999987)
('2008', '11', 23975.829999999987)
('2018', '10', 23952.189999999995)
('2006', '8', 23951.21999999999)
('2014', '7', 23931.12999999999)
('2015', '5', 23813.59999999999)
('1998', '2', 23800.73999999999)
('1993', '1', 23798.54999999999)
('2005', '5', 23760.05999999999)
('2009', '7', 23739.19999999999)
('2000', '2', 23726.97999999999)
('2019', '2', 23721.30999999999)
('1995', '1', 23716.209999999985)
('2007', '10', 23705.429999999993)
('2018', '6', 23685.14999999999)
('2001', '7', 23682.129999999986)
('2010', '8', 23662.54999999999)
('2004', '8', 23644.51999999999)
('2002', '9', 23643.53)
('2019', '9', 23632.019999999993)
('2018', '8', 23620.09999999999)
('2011', '1', 23563.139999999992)
('1993', '5', 23493.84999999999)
('2012', '9', 23490.709999999992)
('1994', '6', 23475.01999999999)
('2010', '11', 23382.39999999999)
('2003', '7', 23376.60999999999)
('2001', '9', 23373.84999999999)
('2014', '3', 23320.719999999994)
('2001', '8', 23318.889999999992)
('2007', '12', 23316.44999999999)
('2001', '1', 23289.87999999999)
('1996', '5', 23279.819999999992)
('1999', '12', 23272.92)
('2006', '7', 23246.759999999995)
('2014', '6', 23240.649999999994)
('1999', '1', 23232.869999999995)
('2011', '12', 23181.979999999992)
('2018', '4', 23166.67999999999)
('2005', '10', 23138.969999999987)
('2000', '7', 23123.209999999992)
('2019', '4', 23096.36999999999)
('2002', '4', 23082.579999999987)
('2006', '4', 23026.169999999995)
('2016', '2', 22991.43)
('2019', '12', 22972.48999999999)
('2022', '8', 22960.57999999999)
('2011', '4', 22944.02999999999)
('1997', '10', 22918.709999999992)
('1999', '6', 22815.53)
('1997', '7', 22740.91999999999)
('2012', '4', 22706.329999999987)
('1996', '2', 22703.96)
('1995', '10', 22694.749999999993)
('2018', '3', 22689.819999999992)
('2020', '9', 22683.82999999999)
('2009', '10', 22648.879999999994)
('2010', '7', 22645.639999999992)
('2015', '2', 22642.759999999995)
('2006', '9', 22633.519999999997)
('2020', '1', 22625.389999999992)
('2021', '3', 22577.669999999987)
('2000', '6', 22571.31999999999)
('2014', '5', 22562.76999999999)
('2004', '12', 22557.669999999995)
('2013', '8', 22557.579999999994)
('2003', '1', 22503.179999999986)
('2014', '11', 22480.19999999999)
('2020', '8', 22474.089999999997)
('2003', '11', 22467.039999999994)
('2007', '3', 22459.119999999988)
('2002', '3', 22456.249999999985)
('2007', '7', 22424.729999999992)
('2010', '3', 22421.90999999999)
('2018', '7', 22397.639999999992)
('2021', '10', 22341.36999999999)
('1998', '6', 22337.78)
('2014', '10', 22321.469999999994)
('2007', '5', 22302.789999999997)
('1996', '9', 22278.009999999987)
('1997', '4', 22246.83999999999)
('2006', '3', 22224.039999999994)
('2010', '6', 22216.199999999983)
('2005', '9', 22213.27999999999)
('2015', '6', 22195.109999999993)
('2017', '2', 22169.52999999999)
('1995', '7', 22167.249999999993)
('1994', '10', 22146.309999999994)
('2005', '6', 22120.149999999994)
('2009', '6', 22102.549999999992)
('2007', '8', 22097.449999999993)
('2003', '5', 22073.71999999999)
('2003', '6', 22070.729999999992)
('2014', '12', 22046.029999999988)
('2016', '4', 22044.059999999994)
('2017', '4', 22024.369999999988)
('1996', '7', 22003.059999999998)
('2004', '10', 21979.249999999993)
('2003', '3', 21967.839999999997)
('1999', '3', 21966.48999999999)
('2001', '11', 21964.80999999999)
('1995', '9', 21960.419999999995)
('2011', '3', 21946.11999999999)
('2021', '5', 21936.25999999999)
('2004', '5', 21914.039999999994)
('2003', '4', 21898.929999999997)
('2009', '1', 21891.089999999993)
('2006', '1', 21889.51999999999)
('2000', '9', 21886.75999999999)
('2022', '5', 21884.939999999988)
('2020', '12', 21865.87999999999)
('1994', '12', 21848.529999999995)
('2004', '2', 21843.73999999999)
('1997', '3', 21842.23999999999)
('2011', '11', 21826.87999999999)
('2002', '1', 21815.449999999997)
('2012', '7', 21813.249999999996)
('2004', '6', 21811.40999999999)
('2001', '2', 21801.749999999993)
('2015', '8', 21765.859999999986)
('2018', '2', 21714.729999999996)
('2007', '1', 21711.129999999994)
('2014', '4', 21708.979999999992)
('1998', '5', 21678.639999999992)
('2013', '3', 21678.42)
('2011', '6', 21672.459999999992)
('2016', '10', 21653.979999999996)
('2016', '9', 21653.009999999995)
('1994', '9', 21606.35999999999)
('2019', '7', 21603.229999999992)
('1999', '10', 21595.73999999999)
('1995', '8', 21564.839999999997)
('2022', '10', 21564.069999999992)
('2013', '6', 21523.609999999993)
('2010', '9', 21500.939999999988)
('1997', '1', 21481.069999999992)
('2011', '2', 21480.599999999995)
('2009', '9', 21474.639999999996)
('2000', '5', 21469.119999999995)
('2022', '7', 21463.79999999999)
('2000', '11', 21435.049999999985)
('2002', '6', 21421.769999999997)
('2004', '1', 21418.72999999999)
('2008', '8', 21418.449999999997)
('2021', '6', 21407.019999999993)
('2020', '3', 21391.519999999997)
('2000', '12', 21368.569999999996)
('2014', '9', 21361.94999999999)
('1998', '7', 21331.079999999994)
('2013', '5', 21323.429999999997)
('1993', '7', 21315.079999999994)
('1999', '7', 21296.479999999996)
('2008', '7', 21289.739999999987)
('2001', '3', 21281.59999999999)
('2013', '1', 21280.989999999994)
('2016', '11', 21274.06999999999)
('1992', '12', 21260.77999999999)
('2012', '10', 21257.489999999998)
('2021', '12', 21256.579999999998)
('2006', '12', 21248.33999999999)
('2003', '2', 21214.109999999993)
('1998', '10', 21199.36999999999)
('2017', '10', 21169.88999999999)
('2015', '7', 21154.42)
('2014', '8', 21130.309999999994)
('1998', '8', 21118.91999999999)
('2021', '1', 21113.76999999999)
('2008', '1', 21107.459999999995)
('2003', '10', 21092.41999999999)
('2012', '1', 21084.749999999993)
('2011', '5', 21070.329999999994)
('2017', '8', 21051.94999999999)
('2017', '12', 21036.889999999985)
('1997', '6', 21015.259999999987)
('2006', '11', 20989.609999999986)
('2008', '10', 20984.159999999993)
('2007', '6', 20949.62)
('2009', '5', 20938.929999999993)
('2016', '3', 20915.989999999998)
('1996', '12', 20892.89999999999)
('2009', '3', 20880.23999999999)
('2021', '9', 20863.919999999995)
('2002', '12', 20846.719999999994)
('1998', '11', 20808.329999999987)
('1995', '5', 20795.459999999992)
('2019', '11', 20778.259999999995)
('2004', '3', 20758.769999999997)
('2013', '4', 20719.67)
('1995', '2', 20713.09999999999)
('2016', '1', 20691.30999999999)
('2010', '12', 20690.589999999993)
('1994', '7', 20641.439999999995)
('1999', '4', 20638.84999999999)
('2011', '10', 20607.899999999994)
('2019', '5', 20592.829999999987)
('2013', '11', 20554.01999999999)
('2022', '6', 20545.78)
('1999', '8', 20522.789999999994)
('1995', '3', 20519.879999999997)
('1998', '9', 20496.569999999992)
('2002', '10', 20493.689999999995)
('2013', '10', 20469.069999999992)
('2012', '12', 20467.28)
('1997', '8', 20424.639999999992)
('2002', '5', 20419.61999999999)
('2003', '9', 20405.489999999994)
('2005', '3', 20401.98999999999)
('2004', '11', 20357.87999999999)
('2008', '4', 20355.549999999996)
('2016', '8', 20354.359999999986)
('2018', '9', 20294.839999999997)
('2017', '6', 20291.719999999994)
('2002', '11', 20281.599999999995)
('2005', '4', 20269.019999999997)
('2004', '7', 20264.669999999995)
('2010', '1', 20251.459999999995)
('1996', '3', 20250.629999999994)
('2021', '7', 20238.209999999992)
('2018', '1', 20207.399999999994)
('1995', '11', 20205.579999999994)
('2017', '5', 20194.229999999996)
('2008', '3', 20168.649999999994)
('1994', '4', 20115.579999999987)
('2001', '10', 20106.739999999994)
('1993', '12', 20087.77999999999)
('2012', '3', 20084.65999999999)
('2015', '1', 20077.01999999999)
('2007', '4', 20069.27999999999)
('2002', '7', 20067.129999999997)
('2013', '12', 20051.079999999998)
('1993', '6', 19999.659999999996)
('2017', '11', 19996.189999999995)
('2007', '9', 19953.999999999993)
('1995', '12', 19950.14)
('2001', '5', 19942.929999999997)
('1994', '11', 19942.209999999995)
('2008', '5', 19935.299999999996)
('2001', '6', 19880.789999999994)
('2022', '3', 19874.949999999997)
('1994', '2', 19874.57)
('2019', '6', 19874.299999999996)
('2016', '7', 19872.039999999994)
('2002', '8', 19842.739999999998)
('2009', '2', 19799.009999999995)
('1994', '5', 19782.639999999992)
('2001', '4', 19759.739999999998)
('2022', '2', 19736.309999999998)
('1996', '11', 19695.259999999995)
('2014', '1', 19682.259999999995)
('2015', '9', 19679.589999999997)
('1998', '4', 19665.139999999992)
('1999', '9', 19647.399999999994)
('2001', '12', 19626.799999999996)
('2013', '9', 19589.709999999992)
('2006', '2', 19554.90999999999)
('1993', '8', 19528.759999999995)
('2003', '8', 19520.449999999993)
('1997', '12', 19503.639999999996)
('2005', '8', 19493.979999999996)
('2012', '6', 19455.649999999998)
('2005', '7', 19443.079999999994)
('1997', '9', 19437.569999999992)
('2010', '2', 19437.329999999994)
('2005', '12', 19382.94999999999)
('2022', '9', 19378.619999999995)
('1997', '5', 19361.839999999997)
('1995', '6', 19356.89)
('1994', '1', 19345.07999999999)
('2020', '11', 19338.569999999992)
('2020', '2', 19281.84999999999)
('2015', '3', 19274.21)
('2021', '4', 19240.149999999994)
('2012', '11', 19234.909999999996)
('2004', '9', 19223.479999999992)
('2022', '1', 19221.76999999999)
('2015', '12', 19193.519999999997)
('2017', '3', 19152.739999999994)
('2016', '5', 19116.479999999992)
('1999', '2', 19093.719999999994)
('2013', '2', 19085.239999999994)
('2005', '11', 19058.319999999992)
('2014', '2', 19055.529999999995)
('2012', '2', 19009.679999999993)
('2020', '6', 19008.83)
('1994', '8', 18866.999999999993)
('1999', '11', 18865.719999999998)
('1993', '3', 18864.089999999986)
('2012', '5', 18844.069999999992)
('2011', '7', 18839.959999999992)
('2006', '6', 18723.529999999995)
('2018', '5', 18657.949999999993)
('2020', '4', 18556.289999999997)
('2004', '4', 18541.679999999997)
('2006', '10', 18407.789999999994)
('2008', '12', 18407.44999999999)
('1995', '4', 18398.709999999992)
('1996', '4', 18340.139999999992)
('1997', '2', 18311.46999999999)
('2000', '10', 18224.859999999993)
('1996', '10', 18176.48)
('1993', '9', 18168.829999999994)
('2002', '2', 18113.189999999995)
('2000', '4', 18080.559999999998)
('2007', '2', 18041.369999999995)
('2018', '11', 18026.999999999996)
('2015', '4', 18025.839999999993)
('2010', '4', 17916.119999999995)
('2008', '9', 17876.879999999994)
('2017', '7', 17798.249999999993)
('2013', '7', 17738.669999999995)
('2015', '11', 17661.379999999994)
('2005', '2', 17658.539999999997)
('2021', '2', 17499.71)
('2019', '3', 17473.139999999992)
('1996', '6', 17412.80999999999)
('2011', '9', 17347.219999999994)
('1993', '2', 17315.889999999996)
('2016', '6', 17107.03)
('2007', '11', 16887.809999999998)
('2009', '12', 16720.379999999997)
('2016', '12', 16122.069999999992)
('2022', '11', 13681.069999999996)
('1992', '11', 6252.0199999999995)

Staff numbers per country:
('US', 1384)
('GB', 13307)
('DE', 6123)

Total sales per store type in Germany:
('DE', 'Super Store', 384625.02999999834)
('DE', 'Local', 1109909.5899999617)
('DE', 'Outlet', 198373.57000000039)
('DE', 'Mall Kiosk', 247634.20000000042)

How quickly the company is making sales (average time taken):
(Decimal('2013'), '02 hours, 17 minutes, 13 seconds')
(Decimal('1993'), '02 hours, 15 minutes, 35 seconds')
(Decimal('2002'), '02 hours, 13 minutes, 39 seconds')
(Decimal('2008'), '02 hours, 13 minutes, 03 seconds')
(Decimal('2022'), '02 hours, 13 minutes, 02 seconds')
(Decimal('1995'), '02 hours, 13 minutes, 00 seconds')
(Decimal('2016'), '02 hours, 12 minutes, 50 seconds')
(Decimal('2011'), '02 hours, 12 minutes, 19 seconds')
(Decimal('2020'), '02 hours, 11 minutes, 58 seconds')
(Decimal('2012'), '02 hours, 11 minutes, 47 seconds')
(Decimal('2021'), '02 hours, 11 minutes, 44 seconds')
(Decimal('2009'), '02 hours, 11 minutes, 18 seconds')
(Decimal('2007'), '02 hours, 11 minutes, 08 seconds')
(Decimal('2010'), '02 hours, 11 minutes, 07 seconds')
(Decimal('1999'), '02 hours, 11 minutes, 05 seconds')
(Decimal('1996'), '02 hours, 11 minutes, 00 seconds')
(Decimal('2000'), '02 hours, 10 minutes, 55 seconds')
(Decimal('2019'), '02 hours, 10 minutes, 40 seconds')
(Decimal('1994'), '02 hours, 10 minutes, 38 seconds')
(Decimal('2018'), '02 hours, 10 minutes, 37 seconds')
(Decimal('2001'), '02 hours, 10 minutes, 34 seconds')
(Decimal('2004'), '02 hours, 10 minutes, 29 seconds')
(Decimal('2006'), '02 hours, 10 minutes, 15 seconds')
(Decimal('2014'), '02 hours, 10 minutes, 05 seconds')
(Decimal('1997'), '02 hours, 09 minutes, 46 seconds')
(Decimal('2015'), '02 hours, 09 minutes, 36 seconds')
(Decimal('1992'), '02 hours, 09 minutes, 32 seconds')
(Decimal('2005'), '02 hours, 09 minutes, 00 seconds')
(Decimal('2017'), '02 hours, 08 minutes, 39 seconds')
(Decimal('2003'), '02 hours, 08 minutes, 36 seconds')
(Decimal('1998'), '02 hours, 08 minutes, 06 seconds')

IGNORE BELOW THIS LINE

In [ ]:
# Create instance of a DatabaseConnector  
instance = DatabaseConnector() 
# Create an engine by using the init_my_db_engine() method of DatabaseConnector 
engine = instance.init_my_db_engine()

#try to do engine.connect() 
with engine.connect() as connection:

    # Ensure the transaction is committed 
    with connection.begin():      
        def remove_pound_symbol(connection, table_name, column_name):
            no_stores_countries = f"""dfd"""

# Replace the following with your actual database URL
database_url = 'your_database_url'

# Create an engine instance
engine = create_engine(database_url)

# Define the SQL query
query = """
SELECT country_code, COUNT(store_code) AS total_stores
FROM stores
GROUP BY country_code;
"""

# Execute the query and load the result into a DataFrame
df = pd.read_sql(query, engine)

# Display the result
print(df)

In [ ]:

SELECT * FROM orders_table LIMIT 10 
SELECT * FROM dim_users LIMIT 10 
SELECT * FROM dim_store_details LIMIT 10 
SELECT * FROM dim_products LIMIT 10 
SELECT * FROM dim_date_times LIMIT 10 
SELECT * FROM dim_card_details LIMIT 10 

# getting total stores per country 
SELECT country_code, COUNT(store_code) AS total_stores
FROM dim_store_details
GROUP BY country_code;

# Which locations currently have the most stores 
SELECT locality, COUNT(store_code) AS total_stores
FROM dim_store_details
GROUP BY locality
ORDER BY total_stores DESC;

# Which months produced the largest amount of sales 
SELECT locality, COUNT(store_code) AS total_stores
FROM dim_store_details
GROUP BY locality
ORDER BY total_stores DESC;

# Total sales per month
SELECT
    ddt.month,
    SUM(ot.product_quantity * dp.product_price) AS total_sales
FROM
    Orders_table ot
JOIN
    dim_products dp
ON
    ot.product_code = dp.product_code
JOIN
    dim_date_times ddt
ON
    ot.date_uuid = ddt.date_uuid
GROUP BY
    ddt.month
ORDER BY
    ddt.month;


# SALES COMING FROM ONLINE 
SELECT 
    CASE 
        WHEN dsd.locality = 'online' THEN 'web'
        ELSE 'Offline'
    END 
	AS locality_group,
    SUM(ot.product_quantity) AS product_quantity_count,
    COUNT(ot.date_uuid) AS number_of_sales
FROM 
    orders_table ot
JOIN 
    dim_store_details dsd
ON 
    ot.store_code = dsd.store_code
GROUP BY 
    locality_group;

# % SALES COMING FROM EACH STORE  
WITH total_sales_by_store_type AS (
    SELECT 
        dsd.store_type,
        SUM(ot.product_quantity * dp.product_price) AS total_sales
    FROM 
        orders_table ot
    JOIN 
        dim_store_details dsd 
    ON 
        ot.store_code = dsd.store_code
    JOIN 
        dim_products dp  
    ON 
        ot.product_code = dp.product_code 
    GROUP BY 
        dsd.store_type
),
total_sales_overall AS (
    SELECT 
        SUM(total_sales) AS overall_sales
    FROM 
        total_sales_by_store_type
)
SELECT 
    tss.store_type,
    tss.total_sales,
    (tss.total_sales / tso.overall_sales) * 100 AS percentage_total
FROM 
    total_sales_by_store_type tss,
    total_sales_overall tso;

# HIGHEST TOTAL SALES BY MONTH AND YEAR 
SELECT 
        ddt.year,
		ddt.month,
        SUM(ot.product_quantity * dp.product_price) AS total_sales
    FROM 
        orders_table ot
    JOIN 
        dim_date_times ddt 
    ON 
        ot.date_uuid = ddt.date_uuid
    JOIN 
        dim_products dp  
    ON 
        ot.product_code = dp.product_code 
    GROUP BY 
        ddt.year, ddt.month 
	ORDER BY 
		total_sales DESC


# staff numbers per country 
SELECT 
country_code, SUM(staff_numbers) 
	
FROM dim_store_details 

GROUP BY 
country_code 

# Total_sale per store type in DE 
SELECT 
	dsd.country_code,
	dsd.store_type,
	SUM(ot.product_quantity * dp.product_price) AS total_sales
FROM 
	orders_table ot
JOIN 
	dim_store_details dsd 
ON 
	ot.store_code = dsd.store_code
JOIN 
	dim_products dp  
ON 
	ot.product_code = dp.product_code 
WHERE 
	dsd.country_code = 'DE'
GROUP BY 
	dsd.store_type, dsd.country_code 


# how quickly is the company making sales 
WITH time_differences AS (
    SELECT 
        EXTRACT(YEAR FROM ddt.complete_timestamp) AS year,
        LEAD(ddt.complete_timestamp) OVER (
            PARTITION BY EXTRACT(YEAR FROM ddt.complete_timestamp) 
            ORDER BY ddt.complete_timestamp
        ) - ddt.complete_timestamp AS time_diff
    FROM 
        dim_date_times ddt
)
SELECT 
    year,
    TO_CHAR(
        INTERVAL '1 second' * AVG(EXTRACT(EPOCH FROM time_diff)),
        'HH24 "hours", MI "minutes", SS "seconds"'
    ) AS actual_time_taken
FROM 
    time_differences
GROUP BY 
    year
ORDER BY 
    AVG(EXTRACT(EPOCH FROM time_diff)) DESC;